<h1>Dragon ball z</h1>

<hr>
<div class="row">
    <div class="col">
        
        <app-personajes [personajes]="personajes">

        </app-personajes>
        <!--<ol>
            <li *ngFor = "let personaje of personajes">{{personaje.nombre}} - {{personaje.poder | number}}</li>
                        
        </ol>-->
    </div>
    <div class="col">
        <app-agregar         
        [nuevo]="nuevo"
        (onNuevoPersonaje)="agregarNuevoPersonaje($event)"
        ></app-agregar>
        
    </div>
</div>